.numberContainer {
    width: 30px;
    height: 20px;
    position: absolute;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    background: #b2c6d7;
    align-items: center;
    padding: 5px;
    margin-right: 8px;
    top:250px;
}

#arrayContainer{
    left: 50px;

}